/* import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(6,20,46);
    background: linear-gradient(180deg, rgba(6,20,46,1) 75%, rgba(69,25,82,1) 100%);
}

h1{
    font-size: 3.5rem; 
    color: #f39f5a  

}

input{
    background: transparent;
    font-size: 1.2rem;
    color: #f39f5a;
}

label{
    font-size: 1.2rem;
    color: #f39f5a;
}

button{
    color: #f39f5a !important;
    background-color: #1d1a39  !important;
    transition: all 0.3s ease-in-out !important;
}

button:hover{
    scale: 1.05;
    box-shadow: 0px 0px 20px 10px rgba(69,25,82,0.75);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(69,25,82,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(69,25,82,0.75);

}


.admin-login-card{
    background-color: #E8BCB9 !important;
    transition: all 0.3s ease-in-out;
}

.admin-login-card:hover{
    scale: 1.1;
    box-shadow: -28px 0px 130px 20px rgba(243,159,90,0.75);
    -webkit-box-shadow: -28px 0px 130px 20px rgba(243,159,90,0.75);
    -moz-box-shadow: -28px 0px 130px 20px rgba(243,159,90,0.75);
}

.student-login-card{
    background-color: #E8BCB9 !important;
    transition: all 0.3s ease-in-out;
}

.student-login-card:hover{
    scale: 1.1;
    box-shadow: 28px 0px 130px 20px rgba(243,159,90,0.75);
    -webkit-box-shadow: 28px 0px 130px 20px rgba(243,159,90,0.75);
    -moz-box-shadow: 28px 0px 130px 20px rgba(243,159,90,0.75);
}

.card-leave-status {
    box-shadow: 0px -5px 90px 16px rgba(243,159,90,0.75);
-webkit-box-shadow: 0px -5px 90px 16px rgba(243,159,90,0.75);
-moz-box-shadow: 0px -5px 90px 16px rgba(243,159,90,0.75);
}


.admin-menu{
    /* display: flex; */
    /* align-items: center !important; */
    /* width: 100% !important; */
    height: 60px !important;
    transition: all 0.3s ease-in-out !important;
}

.admin-menu:hover{
    background-color: #f39f5a !important;
    color: #1d1a39 !important;
}